<a href="https://colab.research.google.com/github/VictorSester/Database_inha_12224919/blob/main/DB_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/midterm_database.db")

In [2]:
conn = my_conn.connect()

In [3]:
conn.execute('''
CREATE TABLE `Vehicle`(
  `ID` VARCHAR NOT NULL,
  `Registration_ID` VARCHAR NOT NULL,
  `Manufacturer` VARCHAR NOT NULL,
  `Model` VARCHAR NOT NULL,
  `Color` VARCHAR NOT NULL,
  `Current_Odometer` BIGINT,
  `Passenger_capacity` TINYINT NOT NULL,
  `Repair_Action_type` CHAR NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [4]:
conn.execute('''
CREATE TABLE `Repair`(
  `Action_type` CHAR NOT NULL,
  `Odometer` BIGINT,
  `Final_cost` INT,
  `Action_desc` VARCHAR NOT NULL,
  `Date` DATE NOT NULL,
  `Vehicle_ID` VARCHAR NOT NULL,
  PRIMARY KEY(`Action_type`)
);''')

In [5]:
conn.execute('''
CREATE TABLE `Countries`
  (`Name` VARCHAR NOT NULL, `Languages_ID` INT NOT NULL, PRIMARY KEY(`Name`));
''')

In [6]:
conn.execute('''
CREATE TABLE `Games_Officials`(
  `ID` INT NOT NULL,
  `Countries_Name` VARCHAR NOT NULL,
  `Based_city_ID` VARCHAR(8) NOT NULL,
  `Name` VARCHAR NOT NULL,
  `Role` VARCHAR NOT NULL,
  `Languages_ID` INT NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [7]:
conn.execute('''
CREATE TABLE `Drivers_Informations`(
  `ID` INT NOT NULL,
  `Name` VARCHAR NOT NULL,
  `License_number` BIGINT(18) NOT NULL,
  `Clerence_level` INT NOT NULL,
  `SLTVT_Level` INT,
  `FATL_Level` INT,
  `Languages_ID` INT NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [8]:
conn.execute('''
CREATE TABLE `FATL`(
  `Level` INT,
  `Qualification_date` DATE,
  `Drivers_informations_ID` INT NOT NULL,
  PRIMARY KEY(`Level`)
);
''')

In [9]:
conn.execute('''
CREATE TABLE `SLTVT`(
  `Level` INT,
  `Qualification_date` DATE,
  `Certifying_autho` VARCHAR,
  `Drivers_informations_ID` INT NOT NULL,
  PRIMARY KEY(`Level`)
);''')

In [10]:
conn.execute('''
CREATE TABLE `Booking`(
  `ID` INT NOT NULL,
  `Trip_start` DATETIME NOT NULL,
  `Trip_end` DATETIME NOT NULL,
  `Odometer_start` BIGINT NOT NULL,
  `Odometer_end` BIGINT NOT NULL,
  `Games_Officials_ID` INT NOT NULL,
  `Drivers_Informations_ID` INT NOT NULL,
  `Vehicle_ID` VARCHAR NOT NULL,
  `Trip_ID` INT NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [11]:
conn.execute('''
CREATE TABLE `Trip`(
  `ID` INT NOT NULL,
  `Pick_Up_ID` INT NOT NULL,
  `Drop_Off_ID` INT NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [12]:
conn.execute('''
CREATE TABLE `Languages`(`ID` INT NOT NULL, PRIMARY KEY(`ID`));''')

In [13]:
conn.execute('''
CREATE TABLE `Pick_Up`(
  `ID` INT NOT NULL,
  `Adress` VARCHAR NOT NULL,
  `Location_Type` VARCHAR NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [14]:
conn.execute('''
CREATE TABLE `Drop_Off`(
  `ID` INT NOT NULL,
  `Adress` VARCHAR NOT NULL,
  `Location_Type` VARCHAR NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [15]:
conn.execute('''
INSERT INTO Vehicle ('ID', 'Registration_ID', 'Manufacturer', 'Model', 'Color', 'Current_Odometer', 'Passenger_capacity', 'Repair_Action_type') VALUES (1, 11, 'Ford', 'Mondeo', 'Black', 123456, 3, 'M');'''
)

In [16]:
conn.execute('''
INSERT INTO Repair ('Action_type', 'Odometer', 'Final_cost', 'Action_desc', 'Date', 'Vehicle_ID') VALUES ('M', 123456, 230, 'Oil_level', 2022-10-22 ,1);'''
)

In [17]:
conn.execute('''
INSERT INTO Countries ('Name', 'Languages_ID') VALUES ('France' ,'1');'''
)

In [18]:
conn.execute('''
INSERT INTO Games_Officials ('ID', 'Countries_Name', 'Based_city_ID', 'Name', 'Role', 'Languages_ID') VALUES ('1', 'France', 'Paris', 'Olivier Dusoleil', 'Referee', '1');
''')

In [19]:
conn.execute('''
INSERT INTO Drivers_Informations ('ID', 'Name', 'License_number', 'Clerence_level', 'SLTVT_Level', 'FATL_Level', 'Languages_ID') VALUES ('1' ,'Mark', '84156', '1', '0', '0', '1');'''
)

In [23]:
conn.execute('''
INSERT INTO FATL ('Level', 'Qualification_date', 'Drivers_informations_ID') VALUES ('0' ,'', '84156');'''
)

In [24]:
conn.execute('''
INSERT INTO SLTVT ('Level', 'Qualification_date', 'Certifying_autho', 'Drivers_informations_ID') VALUES ('0' ,'', '', '84156');'''
)

In [35]:
conn.execute('''
INSERT INTO Booking ('ID', 'Trip_start', 'Trip_end', 'Odometer_start', 'Odometer_end', 'Games_Officials_ID', 'Drivers_informations_ID', 'Vehicle_ID', 'Trip_ID') VALUES ('1' ,'2022-10-22 14:12:01', '2022-10-22 14:44:50', '123456', '123467', '1', '1', '1', '1');'''
)

In [30]:
conn.execute('''
INSERT INTO Trip ('ID', 'Pick_Up_ID', 'Drop_Off_ID') VALUES ('1' ,'1', '1');'''
)

In [31]:
conn.execute('''
INSERT INTO Languages ('ID') VALUES ('1');'''
)

In [32]:
conn.execute('''
INSERT INTO Pick_UP ('ID', 'Adress', 'Location_Type') VALUES ('1' ,'232 Inju daero', 'house');'''
)

In [33]:
conn.execute('''
INSERT INTO Drop_Off ('ID', 'Adress', 'Location_Type') VALUES ('2' ,'34 Inha roe', 'complex');'''
)